@import url('https://fonts.googleapis.com/css?family=Inconsolata');

head, body {
  padding: 4rem;
  font-family: 'Inconsolata', monospace;
}

.top-list {
  margin-bottom: 1.5rem;
}

ul {
  list-style-type: none;
}

ul  ul {
  /*list-style-type: disc;*/
}

.date {
  font-weight: 900;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.sub-header {
  padding-left: 1rem;
  font-size: 1rem;
  color: silver;
}
